body {
    letter-spacing: normal;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica", Sans-Serif;

}

/*header1*/

.navbar {
    width: 100%;
    background-color: #fcfcfc !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header1 img {
    width: 110px;
    margin-left: -20px;
}

.nav1 {
    height: 100px;
}

.nav-text-imigra {
    display: inline-flex;
    padding-top: 1px;
    font-family: Helvetica;
    color: #0035A0;
    text-decoration: none;
    font-weight: bold;
}


.nav-text {
    display: inline-block;
    padding-top: 5px;
    font-family: Helvetica;
    color: #0035A0;
    text-decoration: none;
}

.title-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}


.title-input {
    display: flex;
    flex-direction: column;
}

.title-text h4 {
    font-size: 14px;
    margin-left: 23px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 400px;
    font-weight: 600;

}

.botao-doar input {
    border-radius: 40px;
    border: none;
    text-align: center;
    box-shadow: rgb(255, 248, 248) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-weight: 600;

}

.botao-doar {
    display: flex;
    float: right;
    margin-top: 5px;
    margin-right: -60px;

}

#btn {
    background: linear-gradient(180deg, #0085F8 0%, #006AC6 0.01%, rgba(0, 92, 171, 0.83) 45.31%, rgba(58, 152, 233, 0.98219) 94.27%, #419FF0 100%);
    width: 100px;
    height: 40px;
    color: rgb(255, 255, 255);
}

#btn:hover {
    cursor: pointer;
    text-decoration: none;
}

.title-end {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 0px 0px;
    text-align: center;
}

.title-end h5 {
    font-size: 14px;
}



.botoes a {
    font-size: 13px;
    margin-right: 5px;
    font-weight: bold;
    color: #a7aba8;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
}

.botao-doar {
    display: flex;
    float: right;
    margin-top: 5px;
  }
  
  

  .mode {
    margin-top:11px;
    margin-left: 20px;
    color: #555555;
  } 
  
  

.botoesZoom a {
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;
    color: #a7aba8;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


.header1 a {
    display: flex;
    font-family: Helvetica;
    color: #0035A0 !important;
    text-decoration: none;
    font-weight: bold;
    margin-left: -20px;
}

.botao-doar input {
    border-radius: 40px;
    border: none;
    text-align: center;
    box-shadow: rgb(255, 248, 248) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.botao-doar {
    display: flex;

}

#btn {
    background: linear-gradient(180deg, #0085F8 0%, #006AC6 0.01%, rgba(0, 92, 171, 0.83) 45.31%, rgba(58, 152, 233, 0.98219) 94.27%, #419FF0 100%);
    width: 100px;
    height: 40px;
    color: rgb(255, 255, 255);
}


/*DARK MODE INGLÊS*/
.dark#body {
    background-color: #303030;
    color: white;
}

.dark#body p a {
    color: white;
}

.dark#body p {
    color: white;

}

.dark#body #white-header {
    background-color: #121212 !important;
    color: white;
}


.dark#body #container {
    background-color: #424242;
}

.dark#body footer {
    background-color: #121212;
    color: white;
}

.dark#body #imigra-text {
    color: white !important;
}

.dark#body #title-inputs input {
    background-color: #5d5a5a;
}

.dark#body #title-end h5 {
    color: white;
}

.dark#body #title-text h4 {
    color: white;
}

.dark#body #donate-title h4 {
    color: white;
}

.dark#body .qr-code h3 {
    color: white;
}

.dark#body .form-group input {
    background-color: #5d5a5a;
}



/* HEADER 2*/

.header2 a {
    color: #fff !important;
    font-family: 'Open sans', sans-serif !important;
    font-size: 14.7px;
    letter-spacing: .09375rem;
}



.bg-body-tertiary {
    background: linear-gradient(180deg, #0085F8 0%, #006AC6 0.01%, rgba(0, 92, 171, 0.83) 45.31%, rgba(58, 152, 233, 0.98219) 94.27%, #419FF0 100%);
    transition: 0.2ms;
}

a {
    position: relative;
    color: #fff;
    text-decoration: none;
}


/*Main*/
.vr {
    color: black;
    margin: 2em auto 0;
    height: 320px;
    margin-top: 10px;
}

.container {
    margin-top: 100px;
    background-color: #F5F5F7;
    padding-top: 70px;
    padding-bottom: 10px;
    border-radius: 60px;
    margin-left: 500px;
}



.p-div {
    color: #0035A0;
    margin-bottom: 30px;
    margin-top: 5px;
}

.qr-code p {
    justify-content: center;
}

.div-btn button {
    font-weight: 600;
}

#emailError {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
}

#cpfError {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
}

#usernameError {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
}

.qr-img {
    padding-bottom: 70px;
    display: flex;
}

.qr-code h3 {
    color: #0035A0;
    font-size: 23px;
    display: flex;
    justify-content: center;
}


.qr-code p {
    color: #555555;
}


.btn {
    background: linear-gradient(180deg, #0085F8 0%, #006AC6 0.01%, rgba(0, 92, 171, 0.83) 45.31%, rgba(58, 152, 233, 0.98219) 94.27%, #419FF0 100%);
    width: 100px;
    height: 40px;
    color: rgb(255, 255, 255) !important;
    font-weight: 600;
}

.div-btn {
    display: flex !important;
    justify-content: center;
}




/*FOOTER*/
footer {
    height: 10em;
    width: 100vw;
    background-color: #F5F5F7;
    font-family: Arial, Helvetica, sans-serif;
}

/* Envolvendo cadastro newsletter + icons numa tag pai */

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}


.title-input {
    display: flex;
    flex-direction: column;
}

.title-text h4 {
    font-size: 14px;
    margin-left: 23px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 400px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: start;
}

.title-inputs input {
    border-radius: 40px;
    border: none;
    padding: 5px;
    margin-left: 10px;
    margin-right: 0px;
    height: 40px;
    width: 300px;
    box-shadow: rgb(255, 248, 248) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}


.title-input input:hover {
    background-color: rgb(243, 243, 243);
}

input::placeholder {
    color: #cfcfcf;
    padding-left: 10px;
}

#btn {
    background: linear-gradient(180deg, #0085F8 0%, #006AC6 0.01%, rgba(0, 92, 171, 0.83) 45.31%, rgba(58, 152, 233, 0.98219) 94.27%, #419FF0 100%);
    width: 100px;
    height: 40px;
    color: rgb(255, 255, 255);
}

#btn:hover {
    cursor: pointer;
    text-decoration: none;
}

.title-end {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 0px 0px;
    text-align: center;


}

.title-end h5 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
}



.icons {
    padding-top: 3em;

}

.icons img {
    margin: 15px;
    width: 20px;
    height: 20px;

}

.title-inputs #btn {
    font-weight: 600;
}

@media screen and (max-width: 770px) {

    div.vr {
        display: none;
    }

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 50px;
        padding-right: 70px;

    }

    .container {
        margin-bottom: 100px;
        padding-bottom: 80px;
    }

    div.qr-code {
        margin-top: -135px;
    }

    .qr-code h3,
    p {
        text-align: center;
    }

    .qr-img {
        display: flex;
        margin: auto;
        margin-bottom: -100px;
        margin-top: 30px;
    }

    div.qr-code h3 {
        font-size: 20px;
    }

    .qr-code img {
        width: 200px;
        height: 200px;
        margin-top: 10px;
    }


}


/*Media nav branca para tela media*/
@media (min-width: 730px) {
    .navbar-brand img {
      margin-left: -10px;
    }
  
  }
  
  /*media nav branca tela media*/
  @media (max-width: 766px) {
    .navbar-brand img {
      margin-left: 2px;
  
    }
  
    .header1 a {
      font-size: 12px;
    }
  
    .navbar-right {
      justify-content: center;
      margin: auto;
    }
  
  
    .botao-doar a {
      font-size: 12px;
    }
  
  }
  
  /*media nav branca tela small-tablets*/
  @media (max-width: 613px) {
    .navbar-brand img {
      margin-left: 2px;
  
    }
  
    .header1 img {
      display: none;
    }
  
    .botao-doar a {
      font-size: 12px;
    }
  
  }
  
  /*media nav branca tela small-celular*/
  @media (max-width: 441px) {
 
  
    .header1 img {
      display: none;
    }
  
    .botao-doar a {
      font-size: 12px;
      margin-left: -180px;
    }
  
  
    .fa-solid {
      margin-left: -50px;
    }

    #white-header div{
        height: 50px !important;
    }
  
  }

/*Media query para centralizar links no togller*/
@media screen and (max-width: 991px) {
    .navbar-nav a {
        text-align: center;

    }

}

/* Media query footer */
@media screen and (max-width: 700px) {
    .title-container {
        flex-direction: column;
    }

    footer {
        background-color: #F5F5F7;
    }

    .title-inputs {
        margin-top: -10px;
    }

    .title-inputs input {
        margin-bottom: 10px;
        font-size: 12px;
        width: 210px;
    }

    .icons {
        margin-top: -55px;
        text-align: center;
        margin-bottom: 20px;
    }

    input#btn {
        width: 70px;
    }

    .icons a {
        display: inline-block;
        margin-right: 10px;
    }

    .icons img {
        width: 20px;
        height: 20px;
        margin-bottom: 30px;
    }

    .title-end {
        margin-top: -55px;
    }

    .title-end h5 {
        font-size: 12px;
        margin-top: 12px;
    }

    .title-text h4 {
        margin-top: -10px;
        font-size: 12px;
        /* Adjust the font size for smaller screens */
        margin-left: 130px;
    }

    .title-container {
        width: 100%;
    }
}