body {
  letter-spacing: normal;
}


/*DARK MODE*/
.dark#body {
  background-color: #242527;
  color: #F5F5F7;
  transition: 0.3s;
}

.dark#body div#opcoes p{
  color: #c5d1eb;
}

.dark#body p a{
  color: #F5F5F7;
}

.dark#body p {
  color: #F5F5F7;
}

.dark#body #white-header{
  background-color: #484B52 !important;
  color: #F5F5F7;
}

.dark#body #titulo {
  color: #F5F5F7 !important;
}

.dark#body #btn-next:hover {
  color: #0e4894;
}

.dark#body div#cadastro{
  background-color: #61656e;
}

.dark#body footer {
  background-color: #484B52;
  color: #F5F5F7;
}

.dark#body header nav {
  background-color: #484B52;
  color: #F5F5F7;
}

.dark#body div#preenchimento p  { 
  color: #c5d1eb;
}




/*header1*/

.navbar {
  width: 100%;
  background-color: #fcfcfc !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav1 {
  height: 100px;
}

.nav-text-imigra {
  display: inline-flex;
  padding-top: 1px;
  font-family: Helvetica;
  color: #0035A0;
  text-decoration: none;
  font-weight: bold;
}


.nav-text {
  display: inline-block;
  padding-top: 5px;
  font-family: Helvetica;
  color: #0035A0;
  text-decoration: none;
  font-weight: bold;

}

.botao-doar input {
  border-radius: 40px;
  border: none;
  text-align: center;
  box-shadow: rgb(255, 248, 248) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.botao-doar {
  display: flex;

}

#btn {
  background: linear-gradient(180deg, #0085F8 0%, #006AC6 0.01%, rgba(0, 92, 171, 0.83) 45.31%, rgba(58, 152, 233, 0.98219) 94.27%, #419FF0 100%);
  width: 100px;
  height: 40px;
  color: rgb(255, 255, 255);
}

#btn:hover {
  cursor: pointer;
  text-decoration: none;
}



.botoes a {
  font-size: 13px;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: bold;
  color: #a7aba8;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.botoesZoom a {
  font-size: 15px;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: bold;
  color: #a7aba8;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.header1 a {
  display: flex;
  font-family: Helvetica;
  color: #0035A0 !important;
  text-decoration: none;
  font-weight: bold;

}

.botao-doar input {
  border-radius: 40px;
  border: none;
  text-align: center;
  box-shadow: rgb(255, 248, 248) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.botao-doar {
  display: flex;

}

#btn {
  background: linear-gradient(180deg, #0085F8 0%, #006AC6 0.01%, rgba(0, 92, 171, 0.83) 45.31%, rgba(58, 152, 233, 0.98219) 94.27%, #419FF0 100%);
  width: 100px;
  height: 40px;
  color: rgb(255, 255, 255);
}


/* HEADER 2*/

.header2 a {
  color: #fff !important;
  font-family: 'Open sans', sans-serif !important;
  font-size: 14.7px;
  letter-spacing: .09375rem;
}

.bg-body-tertiary {
  background: linear-gradient(180deg, #0085F8 0%, #006AC6 0.01%, rgba(0, 92, 171, 0.83) 45.31%, rgba(58, 152, 233, 0.98219) 94.27%, #419FF0 100%);
  transition: 0.2ms;
}

a {
  position: relative;
  color: #fff;
  text-decoration: none;
}


/*Tela pagamento cartão*/

.section2 p {
  color: #0085F8;
}

.home-text {
  margin-left: 60px;
  margin-top: 50px;
}

.home-text a {
  text-decoration: none;
  color: #0035A0;
  font-size: 14px;
}


.container-main {
  margin-left: 750px;
  margin-right: 700px;
  height: 80vh;
  padding-right: 30px;
  padding-bottom: 70px;
}


.page-image {
  width: 40px;
  padding-bottom: 10px;
}

.row .form-control {
  border-radius: 90px;
  width: 125px;
}

.form-group input {
  border-radius: 150px;
  padding: 10px;
}


.container {
  display: flex;
  text-align: center;
  background-color: #F5F5F7;
  border-radius: 150px;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 80px;
}

.form-control {
  border-radius: 150px;
  margin-top: 15px;
  align-items: center;
}

.form-group2 input {
  width: 120px;
  border-radius: 150px;
}

.form-check-label {
  margin-bottom: 20px;
}

.container p {
  text-align: left;
  margin-top: 5px;
  color: #4169E1;
}


/*FOOTER*/
footer {
  height: 10em;
  width: 100vw;
  background-color: #F5F5F7;
  font-family: Arial, Helvetica, sans-serif;
}

/* Envolvendo cadastro newsletter + icons numa tag pai */

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

}


.title-input {
  display: flex;
  flex-direction: column;
}

.title-text h4 {
  font-size: 14px;
  margin-left: 23px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 400px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: start;
}

.title-inputs input {
  border-radius: 40px;
  border: none;
  padding: 5px;
  margin-left: 10px;
  margin-right: 0px;
  height: 40px;
  width: 300px;
  box-shadow: rgb(255, 248, 248) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}


.title-input input:hover {
  background-color: rgb(243, 243, 243);
}

input::placeholder {
  color: #cfcfcf;
  padding-left: 10px;
}

#btn {
  background: linear-gradient(180deg, #0085F8 0%, #006AC6 0.01%, rgba(0, 92, 171, 0.83) 45.31%, rgba(58, 152, 233, 0.98219) 94.27%, #419FF0 100%);
  width: 100px;
  height: 40px;
  color: rgb(255, 255, 255);
}

#btn:hover {
  cursor: pointer;
  text-decoration: none;
}

.title-end {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 0px 0px;
  text-align: center;


}

.title-end h5 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
}



.icons {
  padding-top: 3em;

}


.icons img {
  margin: 15px;
  width: 25px;
  height: 25px;
}