* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", Sans-Serif;
}



/* Main destacados */

.destacados-title {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #0035A0;
  text-decoration: none;
}

#h3-destacados::after {
  content: "";
  display: block;
  width: 2em;
  max-width: 60%;
  border-bottom: 0.3em solid #D9D9D9;
  margin-top: 5px;
}


.title-dest a{
  color: #0035A0;
  text-decoration: none;
}

.dest-card {
  margin-bottom: 40px;
  margin-top: 20px;
}


.line {
  border-bottom: solid #D9D9D9;
  border-bottom-width: thin;
  display: block;
  margin-bottom: 40px;
}

.div-saude {
  margin-top: 40px;
}

.img-fluid {
  border-radius: 20px;
}



/* Footer */
footer {
  height: 8em;
  width: 100vw;
  background-color: #F5F5F7;
  font-family: Arial, Helvetica, sans-serif;
}

.title-input {
  position: relative;
}

.title-input h4 {
  font-size: 16px;
  margin-left: 23px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 15%;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.title-input input {
  border-radius: 40px;
  border: none;
  padding: 5px;
  margin-left: 10px;
  margin-right: 0px;
  height: 40px;
  width: 15%;
  box-shadow: rgb(255, 248, 248) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}


.title-input input:hover {
  background-color: rgb(238, 238, 238);
}

input::placeholder {
  color: #bbbbbb;
  padding-left: 10px;
}

#btn {
  background: linear-gradient(180deg, #0085F8 0%, #006AC6 0.01%, rgba(0, 92, 171, 0.83) 45.31%, rgba(58, 152, 233, 0.98219) 94.27%, #419FF0 100%);
  width: 100px;
  height: 40px;
  color: rgb(255, 255, 255);
}

#btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.title-end {
  text-align: center;
}

.title-end h5 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;


}

.icons {
  position: absolute;
  display: inline-block;
  display: flex;
  left: 90%;
  top: 160px;

  gap: 30px;

}