* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", Sans-Serif;

}

/*header1*/

.navbar {
  width: 100%;
  background-color: #fcfcfc !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav1{
  height: 100px;
}

.nav-text-imigra {
  display: inline-flex;
  padding-top: 1px;
  font-family: Helvetica;
  color: #0035A0;
  text-decoration: none;
  font-weight: bold;
}







.nav-text {
  display: inline-block;
  padding-top: 5px;
  font-family: Helvetica;
  color: #0035A0;
  text-decoration: none;
  font-weight: bold;
  
}

.botao-doar input {
  border-radius: 40px;
  border: none;
  text-align: center;
  box-shadow: rgb(255, 248, 248) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;                   
  
}

.botao-doar {
  display: flex;
  
}

#btn {
background: linear-gradient(180deg, #0085F8 0%, #006AC6 0.01%, rgba(0, 92, 171, 0.83) 45.31%, rgba(58, 152, 233, 0.98219) 94.27%, #419FF0 100%);
width: 100px;
height: 40px;
color: rgb(255, 255, 255);
}

#btn:hover {
  cursor: pointer;
  text-decoration: none;
}



.botoes a{
  font-size: 13px;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: bold;
  color: #a7aba8;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.botoesZoom a{
  font-size: 15px;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: bold;
  color: #a7aba8;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.header1 a{
  display: flex;
  font-family: Helvetica;
  color:#0035A0 !important;
  text-decoration: none;
  font-weight: bold;
  
}

.botao-doar input {
  border-radius: 40px;
  border: none;
  text-align: center;
  box-shadow: rgb(255, 248, 248) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;                   
  
}

.botao-doar {
  display: flex;
  
}

#btn {
  background: linear-gradient(180deg, #0085F8 0%, #006AC6 0.01%, rgba(0, 92, 171, 0.83) 45.31%, rgba(58, 152, 233, 0.98219) 94.27%, #419FF0 100%);
  width: 100px;
  height: 40px;
  color: rgb(255, 255, 255);
}



/* HEADER 2*/

.header2 a {
  color: #fff !important;
  font-family: 'Open sans', sans-serif !important;
}

.bg-body-tertiary{
  background: linear-gradient(180deg, #0085F8 0%, #006AC6 0.01%, rgba(0, 92, 171, 0.83) 45.31%, rgba(58, 152, 233, 0.98219) 94.27%, #419FF0 100%);
  transition: 0.2ms;
}

a {
  position: relative;
  color: #fff;
  text-decoration: none;
}


/* MAIN- DESTACADOS */

a:before {
content: "";
position: absolute;
width: 100%;
height: 3px;
bottom: 0;
left: 0;
background-color: #fff;
visibility: hidden;
-webkit-transform: scaleX(0);
transform: scaleX(0);
-webkit-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
} */



a:hover:before {
  visibility: visible;
  color: #fff;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* MAIN- DESTACADOS */

.destacados-title {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #0035A0;
  text-decoration: none;
}


#h3-destacados::after {
  content: "";
  display: block;
  width: 2em;
  max-width: 60%;
  border-bottom: 0.3em solid #D9D9D9;
  margin-top: 5px;
}


.title-dest a{
  color: #0035A0;
  text-decoration: none;
}

.dest-card {
  margin-bottom: 40px;
  margin-top: 20px;
}


.line {
  border-bottom: solid #D9D9D9;
  border-bottom-width: thin;
  display: block;
  margin-bottom: 40px;
}

.div-saude {
  margin-top: 40px;
}

.img-fluid {
  border-radius: 20px;
}



/* Footer start */
footer {
  position: absolute;
  display: block;
  height: 10em;
  width: 100%;
  background-color: #F5F5F7;
  font-family: Arial, Helvetica, sans-serif;
}

/* Envolvendo cadastro newsletter + icons numa tag pai */

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

}


.title-input {
  display: flex;
  flex-direction: column;
}

.title-text h4 {
  font-size: 14px;
  margin-left: 23px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 400px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: start;
}

.title-inputs input {
  border-radius: 40px;
  border: none;
  padding: 5px;
  margin-left: 10px;
  margin-right: 0px;
  height: 40px;
  width: 300px;
  box-shadow: rgb(255, 248, 248) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}


.title-input input:hover {
  background-color: rgb(243, 243, 243);
}

input::placeholder {
  color: #cfcfcf;
  padding-left: 10px;
}

#btn {
  background: linear-gradient(180deg, #0085F8 0%, #006AC6 0.01%, rgba(0, 92, 171, 0.83) 45.31%, rgba(58, 152, 233, 0.98219) 94.27%, #419FF0 100%);
  width: 100px;
  height: 40px;
  color: rgb(255, 255, 255);
}

#btn:hover {
  cursor: pointer;
  text-decoration: none;
}

.title-end {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 0px 0px;
  text-align: center;


}

.title-end h5 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;

}


.icons {
  padding-top: 3em;
  margin-right: 20px;


}


.icons img {
  margin: 15px;
  width: 25px;
  height: 25px;
}


/* formatação dos cards*/
.card-group{
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 30px;
}



/*Media query para centralizar links no togller*/
@media screen and (max-width: 9000px) {
  .navbar-nav a {
      text-align: center;

  }
}


/* SECTION HORIZONTAL */
.items-main {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  position: relative;
  max-height: 100vh;
  margin-bottom: 60px;
  margin-top: 50px;
  max-width: 100vw;
  gap: 30px;
  margin-right: 30px;
  margin-left: -30px;
}

.items {
  text-align: center;
  display:inline-block;
  width: 15em;
  height: 170px;
}



.items img {
  box-shadow: 4px -1px 10px -3px rgba(0,0,0,0.48);
  position: absolute;
  text-align: center;
  display:block;
  width: 270px;
  height: 180px;
  border: 1px solid black;
  border-radius: 15px;
  border: none;
}

.items p {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 160px;
  width: 250px;
  text-align: center;
  position: relative;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: bold;
  color: white;

}

.items a {
  text-decoration: none;

}


#title-primary {
  margin-top: 40px;
  margin-bottom: 30px;
  color: #0035A0;
  text-decoration: none;
  letter-spacing: .5px;
}
 

