/*editar input rosa*/
.form-group input {
    background-color:pink;
    border-radius: 50px;
}

/*editar input azul*/
#inputState {
    background-color:lightblue;
    border-radius: 50px;
}

.container {
    background-color:gray;
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 40px;
}

